body {
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 15px;
  letter-spacing: .05em;
  color: #333;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}



.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 73px;
}

.section {
  padding: 90px 0;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .05em;
  color: #333;
}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-top: 30px;
  margin-bottom: 20px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px -6px rgba(0,0,0,.1);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}

.header-logo a {
  color: #333;
}

.gnav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #333;
}
.gnav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.gnav-item a:hover:after {
  width: 100%;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
}

.mv-container {
  padding: 0 40px;
}

.mv-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
  letter-spacing: .1em;
}
.mv-subtitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: .08em;
}

.mv-text {
  font-size: 16px;
  line-height: 1.8;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.58730%;
  margin-bottom: 40px;
  color: #333;
}

.works-item:hover {
  opacity: .9;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img img {
  border: 1px solid #e6e6e6;
}

.works-name {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 10px;
  margin-top: 5px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
}

.skill-img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 10px;
}

.skill-text {
  font-size: 14px;
  line-height: 1.8;
}

/*--------------------------------
 About
---------------------------------*/
.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.profile-img {
  width: 20%;
  margin-right: 30px;
  border-radius: 50%;
}
.profile-img img {
  border-radius: 50%;
}
.profile-body {
  flex: 1;
}

.profile-body p {
  font-size: 15px;
  line-height: 1.8;
}

.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact {
  text-align: center;
}

.contact-item:not(:last-child) {
  margin-right: 10px;
}

.contact-text {
  margin-top: 10px;
}
/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #4c4c4c;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
}

.article-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 30px;
  text-align: center;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-body h3 {
  position: relative;
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 1em;
}

.article-body h3:not(:first-child) {
  margin-top: 50px;
}

.article-body h3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: #333;
}

.article-body p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

/*--------------------------------
  スライド
---------------------------------*/

.slide-pic{
  max-width: 100%;
  height: 400px;
}
/*画像配置*/
.slideshow{
  max-width: 100%;
  height: 100%;
  background-image: url("../img/top_ec.png");/*JSで切り替える画像*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;/*左 中央のよせ*/
}
/*文字*/
.disc{
  margin: auto;
  text-align: center;
  font-size: 2em;
  color: #ffe6e9;
  font-weight: 800;
  padding-top:5%;
}
/*>*/
.next{
  float: right;
  top: 100px;
  right: 50px;
}
/*<*/
.back{
  float: left;
  top: 100px;
  left: 30px;
}
/*矢印のデザイン*/
.arrow{
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
}
.arrow::before,
.arrow::after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.next::before{
  left: 0px;
  width: 30px;
  height: 30px;
  border-top: 5px solid rgb(255,204,204);
  border-right: 5px solid rgb(255,204,204);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.back::before{
  left: 0px;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid rgb(255,204,204);
  border-left: 5px solid rgb(255,204,204);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* CSSアニメーションの指定 */
.slideshow{
  transition: background-image 1s ease-in;
}

/* flow */

.title-kaigo-detail {
  text-align: center;
  margin: auto;
  width: 20%;
  height: 10%;
  background-color: #f5f5f5; /* 背景色 */
  border: 1px solid #ccc; /* 枠線 */
  font-size: 20px;
  font-weight: bold;
  line-height: 3;
  margin-bottom: 60px;
  letter-spacing: .05em;
  color: #333;
}

.flow-container{
  display:flex;
  margin: auto;
  width: 80%;
  height: 200px;
  background-color: #f5f5f5; /* 背景色 */
  border: 1px solid #ccc; /* 枠線 */
  margin-bottom: 100px;
  margin-top: 100px;
  letter-spacing: .05em;
  color: #333;
}

.flow-container::before{
  content: '';
  position: absolute;
  bottom: 10;
  left: 10;
  border-top: 5vw solid navy;  /* 好みで高さ色を変えてください */
  border-right: 4vw solid transparent;
}

.flow-title{
  font-size: 12px;
  font-weight: bold;
  width: 15%;
  margin: 80px;
  text-align: center;
  border-bottom: 0.1px dashed red;
}

.flow-img img{
  width: 80%;
  height:60%;
  margin: 40px;
}

.flow-text{
  font-size: 16px;
  width: 70%;
  margin: 40px;
}

.title h2 {
  font-size: 30px;
}

.title-detail{
  text-align: center;
  margin: auto;
  width: 20%;
  height: 10%;
  background-color: white; /* 背景色 */
  border: 1px solid #C0C0C0; /* 枠線 */
  font-size: 20px;
  font-weight: bold;
  line-height: 3;
  margin-top: 100px;
  margin-bottom: 60px;
  letter-spacing: .05em;
  color: #333;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }



  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 57px;
  }

  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 20px;
  }

  /* ヘッダー */
  .header .container {
    padding: 15px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 10px;
  }

  .gnav-item a:after {
    display: none;
  }

  /*  メインビジュアル */
  .mv {
    height: 100vh;
    margin-bottom: 130px;
    margin-top: 100px;
  }

  .mv-container {
    padding: 0 20px;
    margin-top: 100px;
  }

  .mv-title {
    font-size: 20px;
  }
  .mv-subtitle {
    font-size: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .mv-text {
    font-size: 14px;
    line-height: 1.7;
    text-align: left;
  }

  .gnav-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }

  /* Works */
  .works-name {
    font-size: 12px;
  }

  .works-info {
    margin-top: 3px;
  }

  .works-img {
    margin-top: 100px;
  }

  .works-list {
    display: block;
    marigin: 0 auto;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 100px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-name {
    margin-bottom: 5px;
  }

  .skill-text {
    font-size: 13px;
    line-height: 1.7;
  }

  /* About */
  .profile {
    display: block;
  }
  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p {
    font-size: 14px;
    line-height: 1.7;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 50px 0;
  }

  .article-container {
    margin-top: 100px;
  }

  .article-body h3 {
    font-size: 16px;
    padding-left: .8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /*画像配置*/
  .slideshow{
    position: relative;
    top: 80px;
    max-width: 100%;
    height: 100%;
    background-image: url("../img/top_ec.png");/*JSで切り替える画像*/
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  /* スライド */
  .slide-pic{
    height: 250px;
  }
  .disc{
    padding-top:5%;
  }
  /*>*/
  .next{
    top: 100px;
  }
  /*<*/
  .back{
    top: 100px;
  }

  /* flow */

  .title-kaigo-detail {
    margin: 2em auto;
    padding: 1em;
    width: 40%;
    background-color: #f5f5f5; /* 背景色 */
    border: 1px solid #ccc; /* 枠線 */
    font-size: 10px;
    line-height: 1;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: .05em;
    color: #333;
  }

  .flow-container{
    margin: auto;
    display: block;
    width: 95%;
    height: 100%;
    background-color: #f5f5f5; /* 背景色 */
    border: 1px solid #ccc; /* 枠線 */
    margin-bottom: 100px;
    margin-top: 100px;
    letter-spacing: .05em;
    color: #333;
  }

  .flow-container::before{
    content: '';
    position: absolute;
    bottom: 10;
    left: 10;
    border-top: 15vw solid navy;  /* 好みで高さ色を変えてください */
    border-right: 10vw solid transparent;
  }

  .flow-title{
    font-size: 7px;
    font-weight: bold;
    border-bottom: 0.1px dashed red;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .flow-img{
    width: 30%;
    height: 30%;
    margin: 0 auto;
    text-align: center;
  }

  .flow-img img{
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    border-bottom: 10px;
  }

  .title h2{
    font-size: 20px;
    margin-top: 50px;
  }

  .flow-text{
    font-size: 13px;
    width: auto;
    margin: 0px;
    text-align: center;
  }

  .title-detail{
    text-align: center;
    margin: 2em auto;
    padding: 1em;
    width: 40%;
    height: 10%;
    background-color: white; /* 背景色 */
    border: 1px solid #C0C0C0; /* 枠線 */
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    margin-top: 100px;
    margin-bottom: 60px;
    letter-spacing: .05em;
    color: #333;
  }
}
